@import "tailwindcss";

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-lato: Lato;
}

html,
body {
  min-height: 100dvh;
  max-width: 100%;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  font-family: var(--font-lato);
}

.mainContent {
  flex-grow: 1;
}

.container {
  padding-inline: 1rem;
}
.fixed-footer {
  @apply fixed bottom-0 left-0 w-screen z-0;
}
